body {
  font-family: Trebuchet MS;
  overflow-x: hidden;
}

hr {
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-container {
  background: url("images/car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  border: solid 2px black;
  
}

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  position: sticky;
  top: 0;
}

.head-margin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: start;
  align-items: center;
}

.brand-name {
  color: white;
}

.logo-container i {
  color: white;
  font-size: max(1.5rem, 2vw);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.nav-container a {
  color: white;
}

.nav-container i {
  display: none;
}

.nav-container a:hover {
  color: rgb(165, 0, 0);
}

.central-container {
  display: flex;
  justify-content: start;
  height: 80vh;
  line-height: 12px;
  align-items: center;
  color: white;
  margin: 0 auto;
  width: 90%;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: rgb(161, 161, 161, 0.7);
  padding: 25px;
  border-radius: 25px;
  border: solid 2px white;
}

.central-title {
  font-size: 200%;
}

.dropdown {
  display: inline-block;
  align-items: center;
  width: 160px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  height: 20px;
  position: relative;
}

.drop-button {
  font-family: Trebuchet MS; 
  font-weight: bold;
  color: black;
  background-color: rgb(219, 219, 219);
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 170px;
}

drop-button i {
  font-family: Trebuchet MS;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 151px;
  height: 160px;
  line-height: 25px;
  text-decoration: none;
  font-family: Trebuchet MS; 
  padding: 9.5px;
}

.dropdown-content a:hover {
  color: rgb(165, 0, 0);
}

.dropdown-content a {
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.drop-down {
  display: none;
  position: absolute;
  top: 61px;
  left: 0;
  z-index: 0;
  background-color: rbg(214, 214, 214);
  padding: 1.25rem;
  height: 30px;  
  width: 30px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  line-height: 10px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 680px) and (max-width: 1024px){
  .logo-container a{
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 680px){
  .nav-container {
    font-size: 80%;
  }

  .logo-container a {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 480px){
  body {
    font-size: 85%;
  }

  .nav-container {
    justify-content: flex-end;
  }

  .nav-container a{
    display: none;
  }

  .nav-container i {
    display: flex;
    color: white;
    font-size: max(1.5rem, 2vw);
  }

  .logo-container a{
    display: none;
  }

  .contact-container {
    display: none;
  }

}